@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1200px) {
    #pink-arrow,
    #yellow-arrow {
        display: none;
    }
    .left-blob,
    .right-blob {
        opacity: 0.4;
    }
    nav {
        ul li:nth-child(4) {
            display: none;
        }
    }
}
@media (max-width: 585px) {
    nav {
        ul {
            margin-left: 0px !important;
        }
        img {
            display: none;
        }
    }
}
@media (max-width: 460px) {
    nav {
        padding: 0.7rem 0.1rem !important;
        li {
            margin: 0;
            a {
                padding: 0.5rem 0.8rem;
            }

        }
    }
}
@media (max-width: 344px) {
    nav {
        ul {
            display: none;
        }
        img {
            display: block;
        }
    }
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    width: min(90%, 57rem);
    min-height: 48px;
    background: white;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 0.7rem 2rem;
    margin: 0 0 3rem 0;
    box-shadow: 1px 2px;

    img {
        height: 2rem;
    }

    ul {
        margin-left: auto;
        list-style: none;
        li {
            display: inline-block;
            margin: 0rem 0.1rem;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;

            a {
                font-size: clamp(0.8rem, 3.5vw, 1rem);
                padding: 0.5rem 1rem;
                border-radius: 20px;
                color: black;
                transition: all 0.3s ease;
            }
            a:hover {
                background: lightgrey;
            }
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 2rem 0rem 0rem 0;
    overflow-x: clip;
    overflow-y: visible;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(5%);
    transition: all ease 0.5s;
}
.show {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}
@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.blue {
    background: #8ACCF4;
}

.spacer {
    width: 100%;
    z-index: -1;
    aspect-ratio: 900 / 200;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#howtoplay {
    position: relative;
    margin-top: 5vw;
    padding-block: min(10vw, 5rem);
}
.blue-white {
    background-image: url('assets/blue-white.svg');
}
.white-blue {
    position: absolute;
    z-index: -1;
    top: -19vw;
    background-image: url('assets/white-blue.svg');
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: min(90%, 57rem);
    min-width: 18rem;

    h1 {
        font-family: "Luckiest Guy", cursive;
        font-size: clamp(2.5rem, 12vw, 4.5rem);
        text-align: center;
        margin-bottom: 1.5rem;
    }
    h2 {
        font-family: "Luckiest Guy", cursive;
        font-size: clamp(2.3rem, 8vw, 3rem);
        text-align: center;
        margin-bottom: 1.5rem;
        animation-delay: 200ms;
    }
    h3 {
        font-family: "Fredoka", sans-serif;
        font-size: clamp(1.3rem, 5vw, 1.7rem);
        text-align: center;
        font-weight: 550;
    }
    p {
        font-family: "Montserrat", sans-serif;
        font-size: clamp(0.925rem, 2vw, 1.2rem);
        text-align: center;
        line-height: 2;
    }
}

#pink-arrow {
    top: 100px;
    left: -150px;
    transform: rotate(-20deg);
    width: 173.1px;
    position: absolute;
    animation: updown-pink 4s linear infinite;
}
#yellow-arrow {
    top: 100px;
    right: -150px;
    width: 173.1px;
    position: absolute;
    animation: updown-yellow 3s linear infinite;
}


@keyframes updown-pink {
    0%, 100% {
        transform: translateY(0) rotate(-20deg);
    }
    50% {
        transform: translateY(-20px) rotate(-10deg);
    }
}
@keyframes updown-yellow {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px) rotate(-10deg);
    }
}

#playnow {
    display: flex;
    align-items: center;
    width: fit-content;
    background: #FFE43E;
    margin-top: 2rem;
    padding: 0.35rem 1rem;
    border-radius: 1.5rem;
    border: 2px solid black;
    box-shadow: 1px 2px;
    cursor: pointer;
    transition: all 0.5s ease;
    
    img {
        height: 1.4rem;
        margin-right: 0.4rem;
    }
}
#playnow:hover {
    transform: scale(1.05);
    p {
        font-weight: 700;
    }
}
#playnow:active {
    transform: scale(0.95);
}
#about {
    position: relative;
    margin-top: 2rem;
    padding: 0;
}
.right-blob {
    z-index: -1;
    position: absolute;
    right: -40rem;
}
.left-blob {
    z-index: -1;
    position: absolute;
    left: -40rem;
    bottom: 30rem;
}

#empowering {
    background-image: linear-gradient(90deg, #ff833e, #ff823ebe);
    background-clip: text;
    color: transparent; 
    margin-bottom: 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 2rem max(1rem, 5%);
    margin: 1.5rem 0;

    background: #FFE43E;
    border: 2px solid black;
    border-radius: 2rem;
    box-shadow: 2px 3px;
    
    h3 {
        margin-bottom: 2rem;
    }
    ul {
        list-style: none;
        li {
            font-family: "Montserrat", sans-serif;
            font-size: clamp(0.925rem, 2vw, 1.2rem);
            line-height: 2;
        }
    }
}

#video {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin: 3rem 0;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 4px 5px;
} 
.tutorial {
    max-width: 40rem;
    background: white;
    padding: max(1rem, 5%);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px;
    p {
        font-weight: 700;
    }
}

#characters,
#levels {
    padding-bottom: min(5rem, 10vw);
}
#characters {
    .container {
        h2 {
            width: 100%;
            text-align: center;
        }
        .cardwrapper {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max(15rem, 30%);
            width: 100%;
            gap: 1.5rem;
            padding: 1rem 1rem 1rem 5rem;

            overflow-x: auto;
            overflow-y: hidden;
            overscroll-behavior-inline: contain;
        }
        .charcard {
            background: white;
            border: 2px solid black;
            border-radius: 2rem;
            box-shadow: 1px 2px;
            /* width: 250px; */
            height: 350px;

            display: flex;
            justify-content: center;
            align-items: center;
            /* place-items: center; */
            transform: all 0.5s linear;

            img {
                max-width: 100%;
                overflow: hidden;
                aspect-ratio: 3 / 4;
                object-fit: cover;
            }
        }
        .charcard:hover {
            transform: translateY(-10px);
        }
        .charcard:active {
            transform: translateY(3px);
        }
    }
}

#levels {
    h2 {
        text-align: center;
    }
    .levelwrapper {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max(12rem, 18%);
        gap: 1.5rem;
        padding-block: 2rem;

        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }
    .levelcard {
        display: flex;
        flex-direction: column;
        justify-content : flex-end;
        position: relative;
        height: 500px;
        border: 2px solid black;
        border-radius: 2rem;
        box-shadow: 1px 2px;
        background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
        transition: all 0.5s linear;
    }
    .levelcard:hover {
        transform: translateY(-10px);
    }
    .levelcard:active {
        transform: translateY(3px);
    }
}
#star {
    position: absolute;
    top: 20px;
    right: 20px;
    max-height: 2.5rem;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    * {
        scroll-snap-align: start;
    }
}

.fade-gradient {
    mask-image: -webkit-linear-gradient();
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.to-top {
    opacity: 0;
    position: fixed;
    right: 2rem;
    bottom: -5rem;
    height: 2.5rem;
    width: 2.5rem;
    background: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 0.8rem;
    box-shadow: 1px 2px;
    transition: all 1s ease ;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.to-top.active {
    opacity: 0.9;
    bottom: 2rem;
    pointer-events: auto;
}